<div class="page-header">
  <h1><%= t(:my_account) %> <small><%= t(:manage_acc) %></small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t(:acc_sett) %></h3>
      </div>
      <div class="panel-body">
      <%= devise_error_messages! %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :username, t(:username) %>
              <%= f.text_field :username, :class => "form-control", autofocus: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email, t(:email) %>
              <%= f.email_field :email, :class => "form-control" %>
            </div>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password, t(:new_pass) %>
              <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
              <small><%= t(:new_pass_alert) %></small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password_confirmation, t(:new_pass_con) %>
              <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :current_password, t(:current_pass) %>
              <%= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
              <small><%= t(:current_pass_alert) %></small>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= f.submit t(:update), :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t(:cancel_acc) %></h3>
      </div>
      <div class="panel-body">
        <p><%= t(:cancel_acc_note) %></p>
        <%= button_to t(:cancel_acc), registration_path(resource_name), :class => 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>