<div class="page-header">
  <h1>Picture List <small>Manage your picture details here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">List Submitted Picture</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="videoDetails">
            <thead>
              <tr>
                <th>Picture Title</th>
                <th>Date Added</th>
                <th class="col-md-2">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @pictures.each do |picture| %>
              <tr>
                <td><%= picture.try(:title) %></td>
                <td><%= picture.try(:created_at).strftime("%d %B %Y") %></td>
                <td>
                  <div class="btn-group btn-group-xs btn-group-justified">
                  <%= link_to view_path(picture), :class => "btn btn-default", "data-toggle" => "tooltip", :title => "Show the picture" do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                  <%= link_to edit_admin_user_picture_path(id:picture), :class => "btn btn-info", "data-toggle" => "tooltip", :title => "Edit this picture" do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                  <%= link_to admin_user_picture_path(id:picture), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", "data-toggle" => "tooltip", :title => "Remove this picture" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready( function () {
    $('#videoDetails').DataTable();
} );
</script>


