<% content_for :title do %>
  <%= "#{@video.try(:title)}" %> - Awesome Picture & Video
<% end %>
<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
                  :type => "website",
                  :title => "#{@video.try(:title)}",
                  :url => request.url,
                  :description => "#{@video.try(:description)}",
                  :canonical => request.url,
                  :og_title => "#{@video.try(:title)}",
                  :og_description => "#{@video.try(:description)}",
                  :og_image => "//www.youtube.com/embed/#{@video.try(:youtube_id)}?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720"
             } %>
<% end %>

<!-- Latest Videos -->
<div id="latestVideos">
<!-- Video 1 -->
<h3><%= @video.title %></h3>
<div class="metaDetails">
  <p><%= @video.views %> people views this video</p>
  <span>Source</span><span2><%= @video.source %></span2>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="930" height="523" src="//www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720" frameborder="0" allowfullscreen></iframe>
</div>

<div class="btn-group btn-group-lg btn-group-justified">
  <a href="#" class="btn btn-facebook">Facebook</a>
  <a href="#" class="btn btn-twitter">Twitter</a>
</div>

<div class="metaDetails">
  <p class="small">Published on <%= @video.published_at.strftime("%d %B %Y") %> by <%= @video.user.username.upcase %></p>
</div>
<p class="text-justify"><%=h @video.description %></p>

</div>
<!-- Latest Videos End -->

<!-- Random Videos -->
<div id="featuredVideos">
  <div class="separator m-b-xl">
    <span>You also may like</span>
  </div>

  <div class="row">
    <% @random.each do |video| %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= link_to watch_path(video) do %>
      <img src="http://i3.ytimg.com/vi/<%= video.youtube_id %>/sddefault.jpg" alt="" class="img-responsive">
      <% end %>
      <h4><%= video.title %></h4>
      <p class="small">Published on <%= video.published_at.strftime("%d %B %Y") %></p>
    </div>
    <% end %>
  </div>
</div>
<!-- Random Videos End -->