<% content_for :title do %>
  Awesome Picture & Video
<% end %>
<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
                  :type => "website",
                  :title => "Awesome Picture & Video",
                  :url => request.url,
                  :description => "Awesome Picture & Video",
                  :canonical => request.url,
                  :og_title => "Awesome Picture & Video",
                  :og_description => "Awesome Picture & Video"
             } %>
<% end %>

<!-- Carousel -->
<div id="latest" class="carousel slide" data-ride="carousel">

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <% @carousel.each_with_index do |video, index| %>
  <div class='item <% if index == 0 %>active<% end %>'>
    <%= link_to watch_path(video) do %>
    <img src="//i3.ytimg.com/vi/<%= video.youtube_id %>/maxresdefault.jpg" style="width:960px;height:500px;" alt="" class="img-responsive">
    <% end %>
    <div class="carousel-caption">
      <h3><%= video.title %></h3>
    </div>
  </div>
  <% end %>
</div>

<!-- Controls -->
<a class="left carousel-control <%= @carousel.count > 1 ? '': 'hide' %>" href="#latest" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control <%= @carousel.count > 1 ? '': 'hide' %>" href="#latest" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>

</div>
<!-- Carousel End -->

<!-- Featured Videos -->
<div id="featuredVideos">
  <div class="separator m-b-xl">
    <span><%= t(:latest_video) %></span>
  </div>

  <div class="row">
    <% @sub.each do |video| %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= link_to watch_path(video) do %>
      <img src="//i3.ytimg.com/vi/<%= video.youtube_id %>/maxresdefault.jpg" alt="" class="img-responsive">
      <h4><%= video.title %></h4>
      <% end %>
      <p class="small"><%= t(:published_on) %> <%= video.published_at.strftime("%d %B %Y") %></p>
    </div>
    <% end %>
  </div>
</div>
<!-- Featured Videos End -->

<!-- Featured Videos -->
<div id="featuredVideos">
  <div class="separator m-b-xl">
    <span><%= t(:latest_picture) %></span>
  </div>

  <div class="row one-time">
    <% @pictures.each do |picture| %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= link_to view_path(picture) do %>
      <%= image_tag picture.cover_photo_url(:thumb).to_s, :class => "img-responsive" %>
      <h4><%= picture.title %></h4>
      <% end %>
      <p class="small"><%= t(:published_on) %> <%= picture.published_at.strftime("%d %B %Y") %></p>
    </div>
    <% end %>
  </div>
</div>
<!-- Featured Videos End -->

<div class="separator m-v-lg"></div>

<gcse:search></gcse:search>

<center>
  <p class="small">- <%= t(:ads) %> -</p>
  <%= link_to image_tag("728x90.png", :alt => "We are looking for a new owner", :class => 'img-responsive'), "mailto: lisa.andria11@gmail.com", :target => "_blank" %>
</center>

<div class="separator m-v-lg"></div>

<div id="js-trailing-stories">
  <%= render partial: 'index_video', collection: @published_only + @both %>
</div>

<%= will_paginate(@videos, { page_links: false, class: "pagination js-page"}) %>

<script type="text/javascript">
  SigInfinite.setup({sort: "<%= params[:sort] %>"});
</script>

<script type="text/javascript">
$(function () {
    $(window).scroll(function () {
        if ($(this).scrollTop() > 200) {
            $('.back-top').fadeIn();
        } else {
            $('.back-top').fadeOut();
        }
    });

    // scroll body to 0px on click
    $('.back-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1600);
        return false;
    });
});
</script>