<!-- Carousel -->
<div id="latest" class="carousel slide" data-ride="carousel">

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <% @carousel.each_with_index do |video, index| %>
  <div class='item <% if index == 0 %>active<% end %>'>
    <%= link_to video_path(video) do %>
    <img src="http://i3.ytimg.com/vi/<%= video.youtube_id %>/maxresdefault.jpg" alt="" class="img-responsive">
    <% end %>
    <div class="carousel-caption">
      <h3><%= video.title %></h3>
    </div>
  </div>
  <% end %>
</div>

<!-- Controls -->
<a class="left carousel-control <%= @carousel.count > 1 ? '': 'hide' %>" href="#latest" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control <%= @carousel.count > 1 ? '': 'hide' %>" href="#latest" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>

</div>
<!-- Carousel End -->

<!-- Featured Videos -->
<div id="featuredVideos">
  <div class="separator m-b-xl">
    <span>Latest Videos</span>
  </div>

  <div class="row">
    <% @sub.each do |video| %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= link_to video_path(video) do %>
      <img src="http://i3.ytimg.com/vi/<%= video.youtube_id %>/maxresdefault.jpg" alt="" class="img-responsive">
      <% end %>
      <h4><%= video.title %></h4>
      <p class="small">Published on <%= video.published_at.strftime("%d %B %Y") %></p>
    </div>
    <% end %>
  </div>
</div>
<!-- Featured Videos End -->

<div class="separator m-v-lg"></div>

<div class="row" id="js-trailing-stories">
  <%= render partial: 'index_video', collection: @published_only %>
</div>

<%= will_paginate(@videos, { page_links: false, class: "pagination js-page"}) %>

<script type="text/javascript">
  SigInfinite.setup({sort: "<%= params[:sort] %>"});
</script>


