<% content_for :title do %>
  <%= "#{@picture.try(:title)}" %> - Awesome Picture & Video
<% end %>
<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
                  :type => "website",
                  :title => "#{@picture.try(:title)}",
                  :url => request.url,
                  :description => "#{@picture.try(:content)}",
                  :canonical => request.url,
                  :og_title => "#{@picture.try(:title)}",
                  :og_description => "#{@picture.try(:content)}",
                  :og_image => "#{@picture.cover_photo_url(:cover)}"
             } %>
<% end %>

<!-- Latest Videos -->
<div id="latestVideos">
  <!-- Video 1 -->
  <h3><%= @picture.title %></h3>
  <div class="metaDetails">
    <p><%= @picture.views %> people views this picture</p>
  </div>
  <div class="img-item img-popup">
    <%= image_tag @picture.cover_photo_url(:cover).to_s %>
    <figcaption class="img-title">
      <h5>Click to view in full size resolution</h5>    
    </figcaption>
  </div>

  <div class="btn-group btn-group-lg btn-group-justified">
    <a href="javascript:void(0)" onclick="PopupCenter('//www.facebook.com/sharer/sharer.php?u=<%= request.url %>', 'myPop1',600,450);" class="btn btn-facebook">Share on Facebook</a>
    <a href="javascript:void(0)" onclick="PopupCenter('//twitter.com/intent/tweet?source=tweetbutton&original_referer=<%= request.url %>&text=<%= @picture.try(:title) %>&url=<%= request.url %>', 'myPop1',600,450);" class="btn btn-twitter">Share on Twitter</a>
  </div>

  <div class="metaDetails">
    <p class="small">Published on <%= @picture.published_at.strftime("%d %B %Y") %> by <%= @picture.user.username.upcase %></p>
  </div>
<p class="text-justify"><%=h @picture.content %></p>

</div>
<!-- Latest Videos End -->

<!-- Random Videos -->
<div id="featuredVideos">
  <div class="separator m-b-xl">
    <span>You also may like</span>
  </div>

  <div class="row one-time">
    <% @random.each do |picture| %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <%= link_to view_path(picture) do %>
      <%= image_tag picture.cover_photo_url(:thumb).to_s, :class => 'img-responsive' %>
      <% end %>
      <h4><%= picture.title %></h4>
      <p class="small">Published on <%= picture.published_at.strftime("%d %B %Y") %></p>
    </div>
    <% end %>
  </div>
</div>
<!-- Random Videos End -->


<script type="text/javascript">
  $(document).ready(function() {
    $('.img-popup').magnificPopup({
      items: {
        src: '<%= @picture.cover_photo_url %>'
      },
      type:'image'
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function(){
  mixpanel.track("Picture viewed", {
      "Picture ID": '<%= @picture.pid %>'
  });
});
</script>






