<% @featured.each do |post| %>
<li>
  <figure>
    <div class="thumb">
      <a href="<%= post_path(post) %>"><img src="http://i3.ytimg.com/vi/<%= post.youtube_id %>/default.jpg"></a>
      <div class="play">
        <a rel="prettyPhoto" href="//www.youtube.com/watch?v=<%= post.youtube_id %>?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720">
          <%= image_tag('play2.png', :alt => 'post.title') %>
        </a>
      </div>
    </div>
    <figcaption>
      <p><%= truncate post.description, :length => 35 %></p>
      <p class="color"><%= post.created_at.strftime("%d %b %Y") %></p>
    </figcaption>
  </figure>
</li>
<% end %>