<!--LATEST VIDEOS SECTION START-->
<section class="video-section container">
  <header>
    <div class="video-heading">
      <h2>Popular Video</h2>
    </div>
  </header>
  <div class="latest-vidios">
    <!--VIDEO FIGURE START-->
    <% @popular.each do |post| %>
    <figure class="video-container">
      <a href="<%= post_path(post) %>"><img src="http://i3.ytimg.com/vi/<%= post.youtube_id %>/hqdefault.jpg" alt="<%= post.title %>"></a>
      <figcaption>
        <h2><%= post.title %></h2>
        <h3><%= truncate post.description, :length => 32 %></h3>
      </figcaption>
    </figure>
    <% end %>
    <!--VIDEO FIGURE END-->
  </div>
</section>
<!--LATEST VIDEOS SECTION START-->