<% provide(:title, @post.title) %>
<%= simple_format(provide(:description, @post.description.split[0..56].join(" "))) %>

<% provide(:url, 'http://awesomepv.com' + post_path(@post)) %>
<% provide(:thumbnail, 'http://i3.ytimg.com/vi/' + @post.youtube_id + '/hqdefault.jpg') %>

<!--FEATURED VIDEOS SECTION START-->
<section class="container">
	<div class="video-detail">
		<iframe width="853" height="480" src="//www.youtube.com/embed/<%= @post.youtube_id %>?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="row">
		<div class="span8">
			<header class="header-style">
				<h2 class="h-style">Video Details</h2>
				<a href="#"><i class="fa  fa-eye"></i><%= @post.view_count %> views</a>
				<a href="#"><i class="fa fa-clock-o"></i><%= @post.created_at.strftime("%d %B %Y") %></a>
			</header>
			<!--BLOG POST START-->
			<article class="blog-post">
				<div class="widget-bg">
					<figure>
						<div class="text">
							<h2><%= @post.title %></h2>
							<p><%= @post.description %></p>
							<% if signed_in? %>
					  	<small>
					  		<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary btn-md" %>
					  		<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-md" %>
					  	</small>
					  	<% end %>
						</div>
					</figure>
				</div>
			</article>
			<!--BLOG POST END-->
			<article class="small-thumbs">
				<header class="header-style">
					<h2 class="h-style">you may also like</h2>
				</header>
				<div class="widget-bg">
					<ul class="mycarousel jcarousel-skin-tango videos">
						<!--LIST ITEMS START-->
						<% @random.each do |post| %>
						<li>
							<figure>
								<div class="thumb">
									<a href="<%= post_path(post) %>">
										<img src="http://i3.ytimg.com/vi/<%= post.youtube_id %>/mqdefault.jpg" alt="<%= post.title %>">
										<div class="play">
											<%= image_tag('play2.png', :alt => 'post.title') %>
										</div>
									</a>
								</div>
								<figcaption>
									<p><%= post.title %></p>
									<p class="color"><%= post.created_at.strftime("%d %B %Y") %></p>
								</figcaption>
							</figure>
						</li>
						<% end %>
						<!--LIST ITEMS END-->
					</ul>
				</div>
			</article>
			<!--COMMENTS SECTION START-->
			<article>
				<div class="widget-bg">
					<div class="comments">
						<!-- Display Disqus Comment Box -->
						<div id="disqus_thread"></div>
						<script type="text/javascript">
						 
						    var disqus_shortname = '<%= Post::DISQUS_SHORTNAME %>';
						    var disqus_identifier = '<%= @post.id %>';
						    var disqus_url = 'http://awesomepv.com<%= url_for(@post) %>';
						 
						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
						</script>
					</div>
				</div>
			</article>
			<!--COMMENTS SECTION END-->
			<!--PAGINATION EBD-->
		</div>
		<!--SIDEBAR START-->
		<aside class="span4">
			<div class="side-bar">
				<!--LOGIN WIDGET START-->
				<div class="widget login-widget">
				</div>
				<!--LOGIN WIDGET END-->
				<!--SEARCH WIDGET START-->
				<div class="widget search-widget">
					<header class="header-style">
						<h2 class="h-style">Search</h2>
					</header>
					<div class="widget-bg">
						<%= form_tag(posts_path, method: "get", class: 'form-search') do %>
              <%= text_field_tag(:q, params[:search], class: 'input-medium search-query') %>
              <button type="submit" class="hover-style">Search</button>
            <% end %>
					</div>
				</div>
				<!--SEARCH WIDGET END-->
				<!--SOCIAL WIDGET START-->
        <div class="widget tabs-widget">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#recent">Latest</a></li>
            <li><a href="#papular">Popular</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="recent">
              <div class="small-thumbs">
                <ul>
                  <!--LIST ITEMS START-->
                  <% @latest.each do |post| %>
                  <li>
                    <figure>
                      <div class="thumb">
                        <a href="<%= post_path(post) %>">
                          <img src="http://i3.ytimg.com/vi/<%= post.youtube_id %>/default.jpg" alt="">
                        </a>
                        <div class="play">
                          <a rel="prettyPhoto" href="//www.youtube.com/watch?v=<%= post.youtube_id %>?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720">
                          	<%= image_tag('play2.png', :alt => "post.title") %>
                          </a>
                        </div>
                      </div>
                      <figcaption>
                        <p><%= truncate post.description, :length => 110 %></p>
                        <p class="color"><%= post.created_at.strftime("%d %b %Y") %></p>
                      </figcaption>
                    </figure>
                  </li>
                  <% end %>
                  <!--LIST ITEMS END-->
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="papular">
              <div class="small-thumbs">
                <ul>
                  <!--LIST ITEMS START-->
                  <% @popular.each do |post| %>
                  <li>
                    <figure>
                      <div class="thumb">
                        <a href="<%= post_path(post) %>">
                          <img src="http://i3.ytimg.com/vi/<%= post.youtube_id %>/default.jpg" alt="">
                        </a>
                        <div class="play">
                          <a rel="prettyPhoto" href="//www.youtube.com/watch?v=<%= post.youtube_id %>?rel=0&showinfo=0&iv_load_policy=3&autoplay=1&vq=hd720">
                          	<%= image_tag('play2.png', :alt => "post.title") %>
                          </a>
                        </div>
                      </div>
                      <figcaption>
                        <p><%= truncate post.description, :length => 110 %></p>
                        <p class="color"><%= post.created_at.strftime("%d %b %Y") %></p>
                      </figcaption>
                    </figure>
                  </li>
                  <% end %>
                  <!--LIST ITEMS END-->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--SOCIAL WIDGET END-->
      </div>
    </aside>
    <!--SIDEBAR END-->
  </div>
</section>
<!--FEATURED VIDEOS SECTION END-->