<div class="page-header">
  <h1>user Details <small>Edit <%= @user.username %> details here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <%= form_for :user, url: admin_user_path(@user), method: :patch do |f| %>
  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client Details <%= link_to 'Edit', edit_admin_user_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;" %></h3>
      </div>
      <div class="panel-body">

        <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:</strong>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
        <% end %>
    
        <div class="row">
        <%= f.fields_for :profile_attributes, @user.profile do |profile| %>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email address</label>
              <p><%= @user.email %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :full_name, "Full Name" %><br>
              <%= profile.text_field :full_name, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :facebook_id, "Facebook ID" %><br>
              <%= profile.text_field :facebook_id, :class => "form-control" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <%= f.submit "Save", :class => "btn btn-primary" %>
          <%= link_to 'Cancel', admin_user_path, :class => "btn btn-link" %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
