<div class="page-header">
  <h1>User List <small>Manage your user details here.</small></h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover" id="userDetails">
    <thead>
      <tr>
        <th>User Full Name</th>
        <th>Client Email</th>
        <th>No. of submitted video</th>
        <th>No. of submitted picture</th>
        <th class="col-md-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.profile.try(:full_name) %></td>
        <td><%= user.email %></td>
        <td><%= user.videos.count %></td>
        <td><%= user.pictures.count %></td>
        <td>
          <div class="btn-group btn-group-xs btn-group-justified">
          <%= link_to admin_user_path(user), :class => "btn btn-default", "data-toggle" => "tooltip", :title => "Get more details" do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", "data-toggle" => "tooltip", :title => "Remove this user" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready( function () {
    $('#userDetails').DataTable();
} );
</script>




