<div class="page-header">
  <h1>New Video <small>Create your new video here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Video Details</h3>
      </div>
      <%= form_for :video, url: admin_user_video_path, method: :patch do |f| %>
      <div class="panel-body">

        <% if @video.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><%= pluralize(@video.errors.count, "error") %> prohibited
            this video from being saved:</strong>
            <ul>
              <% @video.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
        <% end %>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :title, "Video Title" %>
              <%= f.text_field :title, :class => "form-control" %>
              <p class="small help-block">Not more than 240 characters.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :description, "Video Description" %>
              <%= f.text_area :description, :class => "form-control", :rows => 4 %>
              <p class="small help-block">Not more than 500 characters.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :youtube_id, "Youtube ID" %>
              <%= f.text_field :youtube_id, :class => "form-control" %>
              <p class="small help-block">Make sure you just copy the Youtube ID (details).</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :source, "Source From" %>
              <%= f.select(:source, options_for_select([['Youtube', 'Youtube'], ['Vimeo', 'Vimeo']], @video.source), {}, {:class => "form-control"}) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="checkbox">
              <label>
              <%= f.check_box :featured, :type => 'checkbox' %> Tick to mark this video as featured
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="form-group">
          <%= f.button "Update video", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating ..." } %>
          <%= link_to 'Cancel', videos_path, :class => "btn btn-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
