<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=236455219886248&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!--WRAPPER START-->
<div class="wrapper gallery_video" id="home">
	<!--HEADER START-->
	<header class="border-color">
		<div class="container">
			<div class="logo">
				<%= image_tag('logo-2.png', :alt => 'Video Magazine') %>
			</div>
			<div class="navbar main-navigation">
				<div class="sigin">
					<% if user_signed_in? %>
					<%= link_to 'Submit Video', new_post_path %>
					<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
					<% else %>
					<%= link_to 'Login', login_path %>
					<a href="https://docs.google.com/forms/d/153d6JJqAVWX58PvJVZ3SIlUP5CJ4gDrRFpbR3rZLjOA/viewform" target="_blank">Suggest a Video</a>
					<% end %>
				</div>
				<nav class="navbar-inner">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><%= link_to "Home", root_path %></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--HEADER END-->