<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Awesome Picture & Video">
  <meta name="keywords" content="9gag, tv, video, jokes, interesting, cool, fun collection, fun portfolio, admire, fun, humor, humour, just for fun, funny, prank, scary, brazil funny, sexy lady, lol, gag, meme, gif">
  <meta name="author" content="AwesomePV">
  <title><%= (title = yield :title).blank? ? "Awesome Picture & Video" : title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :meta_tags %>
  <%= render "analytics" %>
</head>
<body class="<%= body_class %>" data-user="<%= h current_user.try(:to_json) %>">
<div class="container">
  <%= render partial: "social" %>
  <%= render partial: "header" %>
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
  <%= render partial: "footer" %>

</body>
</html>
